h1{
color:darkorchid;
text-align: center;
background-color: black;
border-radius: 10px;
width: 20%;
height: 10%;
margin:auto;

}
h2{
text-align: center;   
color:darkorchid;
background-color: black;
border-radius: 10px;
width: 20%;
height: 10%;
margin:auto;
margin-top: 45%;
}
